.dashboard-container{
    display:flex;
    height:100%;
    background-color: #e5ecfc;
}

h2{
    font-weight: bold;
    margin:0;
    padding:120px 30px 20px 0px;
    color: #2d3055;
   
}


.dashboard-left{
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    min-height: 100vh;
}


.dashboard-right{
    width: 100%;
    background-color: #f9fafe;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
   padding-top: 120px;
    max-height: 100vh;
}
.calender-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calender-nav img{
    width:20px;
    margin-left: 10px;
    cursor:pointer;
}
.calendar-grid {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  overflow-x: auto;
  padding: 0 1rem;
}

.calendar-column {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 1rem 0.5rem;
  text-align: center;
  min-width: 80px;
}

.highlight-column {
  background-color: #ecebfb;
  border: 2px solid #b7aaff;
  font-weight: bold;
}

.day-label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #555;
}

.date-label {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.time-slots {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.time-slot {
  background-color: #e0e0f7;
  padding: 5px;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #333;
}

.selected-slot {
  background-color: #5d52c1;
  color: #fff;
  font-weight: bold;
}


.appointments{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.appointment{
  display: flex;
  background-color: #f4f4f4;
  border-radius: 10px;
  gap:1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
.appointment.highlighted {
  background-color: #ecebfb;
  border-left: 5px solid #5d52c1;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.appointment img{
    width:32px;
    margin-right: 10px;
}

.upcoming-schedule{
    margin-top: 30px;
}

.schedule-heading{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2d3055;
}

.upcoming-schedule h4{
    font-weight: bold;
    font-size: 16px;
    color: #4b4f66;
    margin-top: 20px;
    margin-bottom: 15px;

}
.schedule-group{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 20px;
}
@media(max-width:600px){
.schedule-item{
    flex: 0,0,48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eaefff;
    border-radius:12px;
    padding: 10px 15px;
    font-size: 14px;
    box-sizing: border-box;   
}}
.schedule-item p{
    margin:0;
    flex: 1;
    color: #333;
    font-weight: 500;
}

.schedule-item span{
    margin-right: 8px;
    color: #666;
    font-weight: 500;
    font-size: 13px;

}

.schedule-item img{
    width: 18px;
    height: 18px;
}