.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 10px 20px;
}

.search-label {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  position: relative;
  width: 280px;
}

.search-icon {
 width: 16px;
 margin-right: 0.5rem;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
 border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}
.bell-icon {
  width: 16px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.right-icons{
  display: flex;
  align-items: center;
  gap: 16px;
}

.add-item-button{
  background: #007bff;
  border:none;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-icon{
width: 20px;
height:20px;
filter: invert(100%)
}

.user-avatar {
  width: 40px;
  height:40px;
  border-radius: 50%;
}